@font-face {
  font-family: 'Pathway Italic';
  src: ur('fonts/pathwayextreme-italic-variablefont_opszwdthwght-webfont.woff2') format('woff2'),
      url('fonts/pathwayextreme-italic-variablefont_opszwdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'Pathway';
  src: url('fonts/pathwayextreme-variablefont_opszwdthwght-webfont.woff2') format('woff2'),
      url('fonts/pathwayextreme-variablefont_opszwdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  padding: 0;
  margin: 0;
  font-family: 'Pathway', sans-serif;
}